@charset "UTF-8";.selectdropdown{border:1px solid #b4b4b4;color:#4b5563;background-image:none;cursor:pointer;font-size:16px;border-radius:5px}.selectdropdown:disabled{cursor:auto}.selectdropdown:focus{border:1px solid #b4b4b4;outline:0}
